@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@if (ViewBag.Password != ViewBag.verify)
{
    <h3>@ViewBag.error</h3>
}
<form method="post" action="/user">
    <label>UserName:
        <input type="text" name="Username" value="@ViewBag.Username"/>
    </label>
    <label>Email:
        <input type="email" name="Email" value="@ViewBag.Email"/>
    </label>
    <label>Password:
        <input type="password" name="Password" />
    </label>
    <label>Verify Password
        <input type="password" name="verify" />
    </label>
    <input type="submit" value="Submit"/>
</form>