@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*form that accepts inputs for each of the user class properties (username, 
email, password) including an additional field to verify password*@

<form method="post" action="/user">
    <div>
        @if (ViewBag.error != null)
        {
            <h3>@ViewBag.error</h3>
            <label>Username: 
                <input type="text" name="username" value="@ViewBag.user.Username"/>
            </label><br />
            <label>Email: 
                <input type="email" name="email" value="@ViewBag.user.Email"/>
            </label><br />
        }
        else
        {
            <label>Username: 
                <input type="text" name="username" />
            </label><br />
            <label>Email: 
                <input type="email" name="email" />
            </label><br />
        }
        <label>Password: 
            <input type="password" name="password" />
        </label><br />
        <label>Confirm Password: 
            <input type="password" name="verify" />
        </label><br />
    </div>
    <input type="submit" value="Create User"/>
</form>